<p id="notice"><%= notice %></p>

<p>
  <b>Review:</b>
  <%= @evaluation.Review %>
</p>

<p>
  <b>Teammember:</b>
  <%= @evaluation.TeamMember %>
</p>


<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
