<h1>Listing team_members</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_members.each do |team_member| %>
  <tr>
    <td><%= team_member.name %></td>
    <td><%= link_to 'Show', team_member %></td>
    <td><%= link_to 'Edit', edit_team_member_path(team_member) %></td>
    <td><%= link_to 'Destroy', team_member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team member', new_team_member_path %>
