<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Reviewee:<br />
    <%= f.select :TeamMember_id, options_for_select(@teamMembers) %>
  </div>
  <div class="field">
    Due Date:<br />
    <%= f.date_select :dueDate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
